.addCourtDiv {
 margin: auto;
    width: 50%;
    border: 3px solid #f6f16b;
    padding: 15px;
    background-color: rgb(102, 168, 123);
}

.addressForm {
    text-align: center
}

.addCourtText {
    color: rgb(254, 254, 254);
}