table, tr, td {
    border: 5px solid rgb(126, 126, 2);
    text-align: center;
    
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  h1{
      text-align: center;
      color: rgb(89, 130, 86);
  }

  .row {
    text-align: center;
  }

