.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #FDD4AF;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 22px;
  margin: auto;
}

.navLink {
  display: inline-block;
  color: #016496;
  background-color: #a3f6f5cd;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color:#5694b3;
  color: rgb(255, 255, 255)
}
